:root {
  --color-primary: #f4424b;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1); }

.header {
  background-color: #000;
  color: #fff;
  height: 30vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative; }
  .header__logo {
    height: 5rem;
    position: absolute;
    top: 2rem;
    left: 1rem; }
    @media screen and (max-width: 800px) {
      .header__logo {
        height: 2.8rem;
        position: absolute;
        top: 1rem;
        left: .5rem; } }
  .header__slogan {
    font-size: 6.5rem;
    font-weight: 300;
    text-align: center; }
    @media screen and (max-width: 800px) {
      .header__slogan {
        font-size: 3.5rem; } }

.mainview {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.selfhelp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .selfhelp__box {
    height: 21rem;
    width: 21rem;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .selfhelp__box-text {
      font-size: 1.5rem;
      font-weight: 700; }
    .selfhelp__box-btn {
      background-color: #fff;
      color: var(--color-grey-dark-1);
      margin-top: 1rem;
      margin-left: 1rem;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
      text-decoration: none; }
    @media screen and (min-width: 1200px) {
      .selfhelp__box {
        height: 25rem;
        width: 25rem;
        margin: 5rem 7rem; } }
    @media screen and (min-width: 1400px) {
      .selfhelp__box {
        height: 30rem;
        width: 30rem;
        margin: 5rem 8rem; } }
    @media screen and (min-width: 1600px) {
      .selfhelp__box {
        height: 33rem;
        width: 33rem;
        margin: 5rem 10rem; } }
    @media screen and (max-width: 800px) {
      .selfhelp__box {
        margin: 0rem 4rem; } }

.email-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 5rem 0; }
  .email-us__top {
    font-weight: 400;
    border-bottom: 1px dotted #000; }
  .email-us__link {
    color: #15bef0;
    text-decoration: none; }

.miirhelp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 8rem; }
  .miirhelp__box {
    height: 21rem;
    width: 21rem;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .miirhelp__box-text {
      font-size: 1.5rem;
      font-weight: 700; }
    .miirhelp__box-btn {
      background-color: #fff;
      color: var(--color-grey-dark-1);
      margin-top: 1rem;
      margin-left: 1rem;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
      text-decoration: none; }
    @media screen and (max-width: 1244px) {
      .miirhelp__box {
        margin: 1rem; } }
    @media screen and (max-width: 950px) {
      .miirhelp__box {
        margin: 0rem 0rem; } }
    @media screen and (max-width: 850px) {
      .miirhelp__box {
        margin: 0rem 4rem; } }
    @media screen and (min-width: 1200px) {
      .miirhelp__box {
        height: 23rem;
        width: 23rem;
        margin: 3rem; } }
    @media screen and (min-width: 1600px) {
      .miirhelp__box {
        height: 30rem;
        width: 30rem; } }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close:link, .popup__close:visited {
    color: inherit;
    position: absolute;
    top: .5rem;
    right: 1.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
  .popup__close :hover {
    color: #15bef0; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (max-width: 650px) {
      .popup__content {
        width: 100%; } }
    .popup__content-heading {
      font-size: 3rem;
      border-bottom: 1px dotted #000;
      margin-bottom: 1rem; }
    .popup__content-email {
      font-size: 2rem;
      margin-bottom: 2rem; }
    .popup__content-text {
      font-size: 1.6rem; }
